{% extends 'base.html' %}
{% block content %}
    <h1>Utilisateurs suivis</h1>
    <div class="grid-container">
        {% for followed_user in followed_users %}
            <div class="grid-item">
                <span>{{ followed_user.followers.username|capfirst }}</span>
                <div class="button-group">
                    <form action="{% url 'unfollow_user' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="followers_id" value="{{ followed_user.followers.id }}">
                        <input class="btn" type="submit" value="Ne plus suivre">
                    </form>
                    <form action="{% url 'block_users' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user_to_block_id" value="{{ followed_user.followers.id }}">
                        <input class="btn" type="submit" value="Bloquer">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1>Mes abonnés</h1>
    <ul>
        {% for user_following in users_following %}
            <li>{{ user_following.user.username }}</li>
        {% endfor %}
    </ul>

    <h1>Utilisateurs bloqués</h1>
    <ul>
        {% for blocked_user in blocked_users %}
            <li>
                <div class="user-actions">
                    <span>{{ blocked_user.followers.username|capfirst }}</span>
                    <div class="button-group">
                        <form action="{% url 'unblock_user' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_to_unblock_id" value="{{ blocked_user.followers.id }}">
                            <input class="btn" type="submit" value="Débloquer">
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
