{% extends 'base.html' %}
{% block content %}
    <h2>Reviews</h2>
    <div>
        {% for review in reviews %}
            <div>
                <a href="{% url 'view_review' review.id %}">
                    <h4>Review de : {{ review.title }}</h4>
                    <img src="{{ review.photo.image.url }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <h2>Demande de review</h2>
    <div>
        {% for post in posts %}
            <div>
                <a href="{% url 'view_post' post.id %}">
                    <h4>{{ post.title }}</h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}