{% extends 'base.html' %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    <p>Demande faite par : {{ post.author }}</p>

    {% if post.author == user %}
        <a href="{% url 'update_post' post.id %}" class="btn">Modifier</a>
        <a href="{% url 'delete_post' post.id %}" class="btn">Supprimer</a>
    {% endif %}
    <a href="{% url 'create_post_review' post.id %}" class="btn">Répondre avec une review</a>

    <p><a href="{% url 'home' %}" class="btn">Accueil</a></p>
{% endblock content %}