<!DOCTYPE html>
<html lang="fr">
{% load static %}
    <head>
        <title>LitRevu</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="message-container">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
        <div class="sidebar">
            {% if user.is_authenticated %}
                <h1>Bonjour, <br> {{ user|capfirst }} !</h1>
                {% if user.profile_photo %}
                    <img class="avatar" src={{ user.profile_photo.url }}  alt="photo_profil">
                {% else %}
                    <img class="avatar" src="{% static 'pictures/default_profile.png'%}"  alt="photo_profil">
                {% endif %}
                <p><a href="{% url 'home' %}">Mon accueil</a></p>
                <h3>Mon compte</h3>
                <p><a href="{% url 'password_change' %}">Changer le mot de passe</a></p>
                <p><a href="{% url 'upload_profile_photo' %}">Changer votre photo de profil</a></p>
                <h3>Reviews / Posts</h3>
                <p><a href="{% url 'create_review' %}">Écrire une review</a></p>
                <p><a href="{% url 'create_post' %}">Demander une review</a></p>
                <h3>Follows</h3>
                <p><a href="{% url 'follow_users' %}">Suivre des utilisateurs</a></p>
                <p><a href="{% url 'followed_users' %}">Utilisateurs que vous suivez</a></p>
                <h3></h3>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" id="btn" type="submit">Se déconnecter</button>
                </form>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>

    </body>
</html>